body {
  padding-top: 54px;
  background-color: #a6a6a6;
  font-family: 'Orbitron', sans-serif;
  
}

.navbar {
  opacity: 0.8;
  background-color: #000000;
  font-family: 'Muli', sans-serif;
  }

.card{
   -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border :0;

}

.jumbotron {
  background-image: url('img/imgn.jpg');
  background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}
footer {
      background-color: #001;
  }

  footer.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

footer.footer .social-link {
  display: block;
  height: 4rem;
  width: 4rem;
  line-height: 4.3rem;
  font-size: 1.5rem;
  background-color: #1D809F;
  transition: background-color 0.15s ease-in-out;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

footer.footer .social-link:hover {
  background-color: #155d74;
  text-decoration: none;
}

  /*.carousel-inner img {
     height: 100%;
     width:  100%;
       }*/
/* carousel */
.mycont{
    padding-top: 1%;
