body {
   font-family: "Verdana", Geneva, sans-serif;
}

.navbar {
  background-color: #1a1a1a;
  }
 
 /*Redes sociales*/
.social-link {
  display: block;
  height: 4rem;
  width: 4rem;
  line-height: 4.3rem;
  font-size: 1.5rem;
  background-color: #531431; 
  transition: background-color 0.15s ease-in-out;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.social-link:hover {
  background-color: #95065c;
  text-decoration: none;
}

#contacto{
  background-color: #cccccc;
  }

  #redes {
   background-color: #cccccc;
}

footer {
  background-color: #1a1a1a;
}